# Database configuration (PostgreSQL Driver)
DATABASE_URL="postgresql://krukov_admin:krukov_secret_pwd@localhost:5432/krukov_tek_db?schema=public"

# Pusher JS Real-Time Configuration (Server)
PUSHER_APP_ID="YOUR_PUSHER_APP_ID"
PUSHER_KEY="YOUR_PUSHER_KEY"
PUSHER_SECRET="YOUR_PUSHER_SECRET"
PUSHER_CLUSTER="eu"

# Public Client-side Pusher configuration
VITE_PUSHER_KEY="YOUR_PUSHER_KEY"
VITE_PUSHER_CLUSTER="eu"
NEXT_PUBLIC_PUSHER_KEY="YOUR_PUSHER_KEY"
NEXT_PUBLIC_PUSHER_CLUSTER="eu"

# Gemini AI API Key
GEMINI_API_KEY=""

# Application Host URL
APP_URL="http://localhost:3000"
PORT=3000
